.mid{
    display:flex;
    justify-content: center;
    align-items: center;
}
.outer{
    border: 15px solid black;
    width: 340px;
    height: 630px;
    padding:40px;
    background-color:grey;
    border-radius: 30px 30px 30px 30px;
}
.a{
    border:3px solid burlywood;
    width:40px;
}
.b{
    border:3px solid burlywood;
    width:40px;
}
.c{
    border:3px solid burlywood;
    width:60px;
}
.d{
    border:3px solid burlywood;
    width:52px;
}